.need_help_flex {
    display: flex;
    gap: 1rem;
}
.need_help_flex .main_heading {
    text-transform: capitalize;
    flex: 1;
}
.need_help_text {
    margin: 0;
    flex: 1;
}
.need_help_text a {
    font-weight: 700;
    color: var(--color-background);
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .need_help_flex {
        flex-direction: column;
        gap: 2rem;
    }
}
@media (max-width: 380px) {
    .need_help_text a {
        display: block;
        margin: 10px 0 0;
    }
}