.sports_grid_home {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.sports_grid_home .sports_grid_item {
    max-height: 320px;
    position: relative;
    overflow: hidden;
}
.sports_grid_item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: unset;
    color: var(--color-white);
}
.sports_grid_item .sports_grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 0.2s;
}
.sports_grid_item:hover .sports_grid_img {
    transform: scale(1.2);
}
.sports_grid_item .sports_grid_text {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1.5rem 1rem;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width: 1199px) {
    .sports_grid_home .sports_grid_item {
        max-height: 280px;
    }
    .sports_grid_item .sports_grid_text {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .sports_grid_home .sports_grid_item {
        max-height: 250px;
    }
    .sports_grid_item .sports_grid_text {
        padding: 1rem 0.5rem;
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    .sports_grid_home {
        grid-template-columns: repeat(5, calc(50% - 0.5rem));
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 1rem;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;    
    }
    .sports_grid_home .sports_grid_item {
        max-height: 280px;
    }
}
@media (max-width: 380px) {
    .sports_grid_home .sports_grid_item {
        max-height: 220px;
    }
}