body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-background);
}
body :not(dialog)::-webkit-scrollbar-thumb {
  background-color: rgb(80, 86, 94);
  border-radius: 6px;
}
body :not([role="dialog"]):not(#modal)::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
}
body :not([role="dialog"]):not(#modal)::-webkit-scrollbar-track {
  background: rgb(223, 224, 225);
  border-radius: 6px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
  --color-background: #191919;
  --color-white: #fff;
  --color-text: #dfe0e1;
  --color-black: #000;
  --color-lightblack: #50565e;
  --color-brown: #a78b55;
  --light-bg: #f6f7f8;
}
:focus-visible {
  outline: none !important;
}
.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.less-top-padding {
  padding-top: 2rem;
}
.less-bottom-padding {
  padding-bottom: 2rem;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.main_heading {
  font-size: 24px;
  line-height: 1.1666;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.btn_bordered_white {
  position: relative;
  display: inline-flex;
  white-space: normal;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white) !important;
  border-radius: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.btn_bordered_white:hover {
  background-color: var(--color-white);
  color: var(--color-background);
}
.container {
  max-width: 1600px;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 991px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (max-width: 767px) {
  .main_heading {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.background {
  background-color: var(--color-background);
  color: var(--color-text);
}